/* Replace content in app/globals.css with this */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-premium-cream text-premium-navy font-sans antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}